.navp {
    font-size: 1.5rem;
    /* font-family: Belleza; */
    align-items: center;
}

.btnShop {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: .5rem 2rem;
}

.pants h1 {
    font-size: 96px;
    font-weight: 400;
    line-height: 111px;
    letter-spacing: -0.5px;
    text-align: left;
    width: 700px;
    left: 37px;
    top: 175px;
    border-radius: nullpx;

}

.pants p :first-child {
    width: 500;
    margin-bottom: 3rem;
}

.img-1 {
    height: 606px;
    width: 501.18994140625px;
    left: 1440px;
    top: 93px;
    border-radius: 0px;

}

.Beautiful {
    height: 62px;
    width: 399px;
    left: 50px;
    top: 58px;
    font-size: 24px;
    font-weight: 1000;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}

.Forbes {
    display: flex;
    gap: 5rem;
}

.Forbes h4 {
    height: 43px;
    width: 190px;
    left: 50px;
    top: 245px;
    font-size: 36px;
    font-weight: 900;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: gray;
}

.each {
    justify-content: space-evenly;
    padding: 2rem;
    margin-top: 4rem;
}

.each p:first-child {
    height: 94px;
    width: 518px;
    left: 50px;
    top: 942px;
    font-size: 24px;
    font-weight: 250;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}

.each p:last-child {
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    height: 145px;
    width: 626px;
    left: 638px;
    top: 942px;


}

.aline {
    align-items: center;
}

.unsplash {
    position: relative;
    width: 1340px;
    height: 572px;
    left: 15%;
    top: 0px;

}
a{
    text-decoration: none;
    color: gray;

}
.back-img div {
    display: flex;
    position: relative;
    align-items: center;
}

.back-img {
    position: absolute;
    width: 1440px;
    height: 436px;
    left: 13%;
    top: 1400px;
    z-index: -1;

}